header{
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    border-bottom: black solid;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.photo{
    display:flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
}

img{
    height:auto;
    width: 50%;
}

body{
    margin:0%;
    padding:0%;
    background-color: #121212;
    color:#f5f5f5;
}

.font{ 
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.iframe1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{ 
    border: none;
    border-radius: 20px;
}

.foot{ 
    text-align:center;
    font-weight: bolder;
}

.Obsession{
    text-align: center;
    color:red;
}

.Need{
    padding: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 55px;
}

/*body{
    background-image: url(Gemini_Generated_Image_xevxm0xevxm0xevx.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}