header{
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    border-bottom: black solid;
    flex-wrap: wrap;
}

.photo{
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
    height:auto;
    width: 50%;
}

body{
    margin:0%;
    padding:0%;
    background-color: antiquewhite;
}

.font{ 
    font-family: cursive;
}

.st{ 
    font-family: cursive;
}